/* Project styles copied from repo root `index.css` */
html, body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Exo 2", sans-serif;
  height: 100svh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

button {
  background-color: #FFF100;
  cursor: pointer;
  border: none;
}

button#new-deck {
  align-self: flex-start;
  padding: 1em;
}

button.draw {
  font-size: 1.2em;
  padding: 1em;
  align-self: stretch;
}

div.card-slot {
  height: 120px;
  width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 10px;
}

img.card {
  width: 100%;
  height: 100%;
}

div.top {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

div.top > p {
  margin: 0;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
}

h2 {
  margin: 10px;
}

#header{
  font-size: 2rem;
}
